%h1.header Title

.badges-container
  %i.fa.fa-mars-double.fa-3x
  %i.fa.fa-street-view.fa-3x
  %i.fa.fa-server.fa-3x
  %i.fa.fa-connectdevelop.fa-3x
  %i.fa.fa-space-shuttle.fa-3x

.map-container
  #map-canvas
  -# {style: "width: 45%; height: 100%;float:left"}
  #pano
  -# { style: "width: 45%; height: 100%;float:left"}

.mindy-container
  %span.hide= render :partial => "singapore"
  %span.hide= render :partial => "tokyo"
  %span.hide= render :partial => "roswell"
  %span.hide= render :partial => "london"
  %span.hide= render :partial => "moon"

.input-container
  %input#input-box{:type => "text", :placeholder => "type here"}