%h1.header Title

-# .badges-container
-#   %i.fa.fa-server.fa-3x
-#   %i.fa.fa-connectdevelop.fa-3x
-#   %i.fa.fa-picture-o.fa-3x
-#   %i.fa.fa-fa-puzzle-piece.fa-3x
-#   %i.fa.fa-street-view.fa-3x.hide
-#   %i.fa.fa-space-shuttle.fa-3x

.map-container
  #map-canvas
  -# {style: "width: 45%; height: 100%;float:left"}
  #pano
  -# { style: "width: 45%; height: 100%;float:left"}

.mindy-container
  %span#sg-partial= render :partial => "singapore"
  %span#tokyo-partial.hide= render :partial => "tokyo"
  %span#roswell-partial.hide= render :partial => "roswell"
  %span#london-partial.hide= render :partial => "london"
  %span#moon-partial.hide= render :partial => "moon"

.input-container
  %input#input-box{:type => "text", :placeholder => "type here"}
